form.update
  .create
    display   none

form.create
  .update
    display   none

form
  hr
    border-top-color  #ddd

  textarea
    box-sizing        border-box
    width             100%
