include /lib/_form

form.form-horizontal.well
  legend
    span.create Create Connection
    span.update Edit Connection
  fieldset
    .alert.alert-info
      | This connection 
      span.create will be
      span.update is
      |  publicly shared and viewable by anyone.
      | It will appear on any map having both Actors A and B.
    span.input-xxlarge
      +field-select('a_node_id', 'Actor A')
    +field-label('a_is', 'Influence')
      label.radio(for='a_is_lt')
        | A is a 
        strong subordinate 
        |of B (e.g. A is created, employed, funded, owned, or run by B)
        input(type='radio', name='a_is', id='a_is_lt', value='lt')
      label.radio(for='a_is_eq')
        | A is a 
        strong peer/equal 
        |of B, or influence unclear or unknown
        input(type='radio', name='a_is', id='a_is_eq', value='eq')
      .help-block.gap-t
        :markdown
          A good rule of thumb when determining influence is to look at where the money flows.
          If money flows from B to A then the 1st option is generally correct.  
          For family connections, the child A will generally be subordinate to the parent B.
    +field-text('how', 'How')
      button(type='button').btn.btn-inverse.btn-rename.gap-l A renamed to B
      .help-block.gap-t
        :markdown
          Optional note of how A relates to B (e.g. owned by, department of, attends).
          Please use present tense e.g. `is` rather than `was` even for past connections.
    span.clearfix.input-xxlarge
      .pull-left
        +field-select('b_node_id', 'Actor B')
      button(type='button').btn.btn-inverse.btn-swap-ab.gap-l Swap AB
    +field-text('when', 'When')
      .help-block
        :markdown
          Specify a time period over which this connection applies, in the format
          `dd/mm/yyyy-dd/mm/yyyy`, `dd/mm/yyyy-` or `-dd/mm/yyyy`.  
          The `dd/` and `mm/` are optional if you don't have that information.

          Examples:
          * From 1st Feb 2006 to 3rd Feb 2014 `01/02/2006-03/02/2014`
          * From May 2010 to Sep 2010 `05/2010-09/2010`
          * From 1970 to 2001 `1970-2001`
          * From 1694 to now `1694-`
          * From unknown to 1776 `-1776`
  +button-bar
