include ../lib/_form

legend Connections
  a(href='#/edge-new').btn.pull-right.signed-in New 
    i.icon-plus
ul.items.unstyled
  li.edge-inline
    a.aNode
    a.how
    a.bNode
    span.period
