ul.items.unstyled
  li.evidence.clearfix
    i.icon-info-sign
    a(target='_blank').url
    small
      span  - added by  
      a.createUser
      span  on 
      span.createDate
    a.btn.btnEdit.pull-right.signed-in Edit 
      i.icon-edit
