ul.items.unstyled
  li.evidence.clearfix
    i.cue.icon-camera
    a(target='_blank').url
    small.meta
      span  - added by  
      a.createUser
      abbr.createDate.timeago
    a.btn.btnEdit.pull-right.signed-in Edit 
      i.icon-edit
