.navbar.navbar-fixed-bottom
  ul.nav.pull-right
    li
      a(href='https://github.com/dizzib/WhoDoTheyServe.com')
        small Source on Github
    li
      a(href='#/doc/about')
        small About
    li
      a(href='mailto:&#100;&#105;&#122;&#122;&#105;&#098;&#048;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;')
        small Contact
