.graph
  a
    fill          #08c
  a:hover
    fill          #058
  marker
    fill          #aaa
  .node
    fill          #8ff
  .edge
    stroke        #ccc
    stroke-width  1.5px
  .edge.out-of-range
    stroke-dasharray  5,5
