.graph
  position      relative
  a
    fill          #08c
  a:hover
    fill          #058
  marker
    fill          #aaa
  svg
    position      absolute
    left          0
    top           0
  .edge
    stroke        #aaa
    stroke-width  1.5px
  .edge.minor
    stroke        #eee
    stroke-width  1px
  .node
    fill          #8ff
