.graph
  a
    fill          #08c
  a:hover
    fill          #058
  marker
    fill          #aaa

  .node
    fill          #0ff
  .edge
    stroke        #ccc
    stroke-width  1.5px

