ul.unstyled
  li.item
    span.entity
      span.edge
        a.aNode
        a.how
        a.bNode
        span.period
      span.evidence
        a.glyph
          i.icon-camera
        a(target='_blank').url
      span.node
        a.name
      span.note
        a.glyph
          i.icon-comment
        span.text
    small.meta
      span  added by  
      a.createUser
      abbr.createDate.timeago
