include ../lib/_form

form.form-horizontal.well
  legend
    span.create Create actor
    span.update Edit actor
  fieldset
    +field-text('name', 'Name', 'Enter name')
    span.help-block
      | A person's name should take the form LastName, FirstName
      | e.g. 'Jefferson, Thomas' rather than 'Thomas Jefferson'
    span.help-block
      | An organisation should begin without indefinite article
      | e.g. 'Bank of England' rather than 'The Bank of England'
    hr
    +button-bar
