
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-male:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-share:before { content: '\e803'; } /* '' */
.icon-list-bullet:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
.icon-file-pdf:before { content: '\e807'; } /* '' */
.icon-signal:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-login:before { content: '\e80b'; } /* '' */
.icon-logout:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-history:before { content: '\e80e'; } /* '' */
.icon-pencil:before { content: '\e80f'; } /* '' */
.icon-down-dir:before { content: '\e810'; } /* '' */
.icon-right-dir:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-right-open:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-mail:before { content: '\e815'; } /* '' */
.icon-github-circled:before { content: '\e816'; } /* '' */
.icon-twitter:before { content: '\e817'; } /* '' */
.icon-facebook-squared:before { content: '\e818'; } /* '' */
.icon-gplus:before { content: '\e819'; } /* '' */
.icon-brush:before { content: '\e81a'; } /* '' */
.icon-doc-text:before { content: '\e81b'; } /* '' */
.icon-videocam:before { content: '\e81c'; } /* '' */
.icon-facebook:before { content: '\e81d'; } /* '' */
.icon-pin:before { content: '\e81e'; } /* '' */
.icon-menu:before { content: '\e81f'; } /* '' */
.icon-share-1:before { content: '\e820'; } /* '' */
.icon-search:before { content: '\e821'; } /* '' */
.icon-music:before { content: '\e822'; } /* '' */
.icon-video:before { content: '\e823'; } /* '' */
.icon-newspaper:before { content: '\e824'; } /* '' */
.icon-book-open:before { content: '\e825'; } /* '' */
.icon-book:before { content: '\e826'; } /* '' */
.icon-bank:before { content: '\e827'; } /* '' */
.icon-flight:before { content: '\e828'; } /* '' */
.icon-fighter-jet:before { content: '\e829'; } /* '' */
.icon-attention:before { content: '\e82a'; } /* '' */
.icon-shareable:before { content: '\e82b'; } /* '' */