@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?23847835');
  src: url('../font/fontello.eot?23847835#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?23847835') format('woff'),
       url('../font/fontello.ttf?23847835') format('truetype'),
       url('../font/fontello.svg?23847835#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23847835#fontello') format('svg');
  }
}
*/
 
 [class^="fe-"]:before, [class*=" fe-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fe-info-circled:before { content: '\e800'; } /* '' */
.fe-male:before { content: '\e801'; } /* '' */
.fe-link:before { content: '\e802'; } /* '' */
.fe-share:before { content: '\e803'; } /* '' */
.fe-list-bullet:before { content: '\e804'; } /* '' */
.fe-plus:before { content: '\e805'; } /* '' */
.fe-edit:before { content: '\e806'; } /* '' */
.fe-file-pdf:before { content: '\e807'; } /* '' */
.fe-signal:before { content: '\e808'; } /* '' */
.fe-camera:before { content: '\e809'; } /* '' */
.fe-comment:before { content: '\e80a'; } /* '' */
.fe-login:before { content: '\e80b'; } /* '' */
.fe-logout:before { content: '\e80c'; } /* '' */
.fe-user:before { content: '\e80d'; } /* '' */
.fe-history:before { content: '\e80e'; } /* '' */
.fe-pencil:before { content: '\e80f'; } /* '' */
.fe-down-dir:before { content: '\e810'; } /* '' */
.fe-right-dir:before { content: '\e811'; } /* '' */
.fe-down-open:before { content: '\e812'; } /* '' */
.fe-right-open:before { content: '\e813'; } /* '' */
.fe-cog:before { content: '\e814'; } /* '' */
.fe-mail:before { content: '\e815'; } /* '' */
.fe-github-circled:before { content: '\e816'; } /* '' */
.fe-twitter:before { content: '\e817'; } /* '' */
.fe-facebook-squared:before { content: '\e818'; } /* '' */
.fe-gplus:before { content: '\e819'; } /* '' */
.fe-brush:before { content: '\e81a'; } /* '' */
.fe-doc-text:before { content: '\e81b'; } /* '' */
.fe-videocam:before { content: '\e81c'; } /* '' */
.fe-facebook:before { content: '\e81d'; } /* '' */
.fe-pin:before { content: '\e81e'; } /* '' */
.fe-menu:before { content: '\e81f'; } /* '' */
.fe-share-1:before { content: '\e820'; } /* '' */
.fe-search:before { content: '\e821'; } /* '' */
.fe-music:before { content: '\e822'; } /* '' */
.fe-video:before { content: '\e823'; } /* '' */
.fe-newspaper:before { content: '\e824'; } /* '' */
.fe-book-open:before { content: '\e825'; } /* '' */
.fe-book:before { content: '\e826'; } /* '' */
.fe-bank:before { content: '\e827'; } /* '' */
.fe-flight:before { content: '\e828'; } /* '' */
.fe-fighter-jet:before { content: '\e829'; } /* '' */
.fe-attention:before { content: '\e82a'; } /* '' */
.fe-shareable:before { content: '\e82b'; } /* '' */
.fe-wrench:before { content: '\e82c'; } /* '' */
.fe-left-big:before { content: '\e82d'; } /* '' */
.fe-ok:before { content: '\e82e'; } /* '' */
.fe-trash-empty:before { content: '\e82f'; } /* '' */
.fe-github:before { content: '\e830'; } /* '' */