a:hover
  text-decoration   none
.dropdown
.dropup
  .caret
    margin-left       0.5em
.nav
  margin-bottom     0

// fix typeahead dropdown causing subsequent help-block to shift upwards
.form-horizontal
  .typeahead + .help-block
    margin-top        10px
@media screen and (min-width: 981px)
  .typeahead-long
    max-height        600px
