a:hover
  text-decoration   none
.nav
  margin-bottom     0
.navbar-fixed-top
.navbar-fixed-bottom
  background-color  rgba(255, 255, 255, 0.85)

// fix typeahead dropdown causing subsequent help-block to shift upwards
.form-horizontal
  .typeahead + .help-block
    margin-top        10px
.typeahead-long
  max-height        600px
