@font-face
  font-family 'fontello'
  font-style  normal
  font-weight normal
  src url('/lib-3p/fontello/font/fontello.eot?9540017')
  src url('/lib-3p/fontello/font/fontello.eot?9540017#iefix') format('embedded-opentype'),
      url('/lib-3p/fontello/font/fontello.woff?9540017') format('woff'),
      url('/lib-3p/fontello/font/fontello.ttf?9540017') format('truetype'),
      url('/lib-3p/fontello/font/fontello.svg?9540017#fontello') format('svg')

// classes loosely based on font-awesome

.fe
  display         inline-block
.fe:before
  font-family     'fontello'
  font-size       inherit
  line-height     1em /* fix buttons height for twitter bootstrap */
  text-rendering  auto
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing  antialiased

.fe-lg // make the font 33% larger relative to the icon container
  font-size       1.33333333em
  left            -1.85714286em
  line-height     0.75em
  vertical-align  -15%

.fe-2x
  font-size 2em
