@font-face
  font-family 'fontello'
  src url('../lib-3p/fontello/font/fontello.eot?9540017')
  src url('../lib-3p/fontello/font/fontello.eot?9540017#iefix') format('embedded-opentype'),
       url('../lib-3p/fontello/font/fontello.woff?9540017') format('woff'),
       url('../lib-3p/fontello/font/fontello.ttf?9540017') format('truetype'),
       url('../lib-3p/fontello/font/fontello.svg?9540017#fontello') format('svg')
  font-weight normal
  font-style normal

// classes based on font-awesome

.fe
  display inline-block
  font normal normal normal 14px/1 FontAwesome
  font-size inherit
  text-rendering auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.fe-lg // make the font 33% larger relative to the icon container
  font-size       1.33333333em
  left            -1.85714286em
  line-height     0.75em
  vertical-align  -15%

.fe-2x
  font-size 2em
