for i in 0..4
  .graph.frame-{i}
    .edge.ants
      display           inherit
      stroke-dasharray  5
      stroke-dashoffset -2 * i
      &:not(.out-of-date)
        stroke-width      4px !important
