.graph
  marker
    fill              #aaa
  .edge
    stroke            #aaa
    stroke-width      1.5px
    &.family
      stroke-dasharray  2
      stroke-width      5px
    &.out-of-date
      &.family
        opacity           0.5
      &:not(.family)
        opacity           0.75
        stroke-dasharray  5
    &.you
      display           none
  .edge-glyphs
    text
      fill              #08c
    text.dead
      fill              red
    text.live
      fill              #0a0
