.graph
  marker
    fill              #aaa
  .edge
    stroke            #aaa
    stroke-width      1.5px
  .edge.minor
    stroke-dasharray  5
    stroke-width      1px
  .edge.family
    stroke            #000
    stroke-width      1.5px
  .edge.you
    display           none
  .edge-glyphs
    text
      fill              #08c
    text.dead
      fill              red
    text.live
      fill              #0a0

for i in 0..4
  .graph.frame-{i}
    .edge.ants
      display           inherit
      stroke-dasharray  5
      stroke-dashoffset -2 * i
      stroke-width      4px
