.graph
  marker
    fill              #aaa
  .edge
    stroke            #aaa
    stroke-width      1.5px
  .edge.family
    stroke            #000
    stroke-width      1.5px
  .edge.out-of-date
    stroke-dasharray  5
    stroke-width      1px
  .edge.you
    display           none
  .edge-glyphs
    text
      fill              #08c
    text.dead
      fill              red
    text.live
      fill              #0a0
