layer(tag, color, width = 1px)
  .graph
    .badge-{tag}
      text
        fill        color
    .edge.{tag}
      stroke        color
      stroke-width  width
  .graph
    .layer.{tag}
      display       none
  .graph.{tag}
    .layer.{tag}
      display       inherit

.graph
  .out-of-date
    display       none
.graph
  .out-of-date.near
    display       inherit
.graph.out-of-date
  .out-of-date:not(.layer)
    display       inherit

layer('ac'        , blue)
layer('bil-attend', #fc4)
layer('bil-steer' , #f80, 2px)
layer('bis'       , red)
layer('cfr'       , magenta)
