.graph
  .node
    a
      fill          #08c
    a:hover
      fill          #058
    circle
      fill          #ccc
    rect
      fill          none
      stroke-width  1
      stroke        #ccc
    .fe
      fill          #888
    &.boss
      text
        font-size     18px
    &.you
      circle
        fill          none
        stroke-width  3
        stroke        #aaa
      text
        font-size     16px
