color(c)
  path
    fill    c
    stroke  c

.graph
  .hull
    color           grey
    path
      opacity       0.15 // transparent so the intersection is more opaque
    pointer-events  none // for correct cursor offsetX/Y in FF

  // explicit regions
  .gov
    color green
  .eu
  .un
    color orange
  .trilat
    color blue
