include ../_mixin

ul.items.unstyled
  li
    span.edge-title
      span.a-node
        +node-name
      a.how
      span.b-node
        span.person-glyph
        span.name
      span.when-text
    span.glyphs
