form
  .button-bar
    .mode
      display           flex
      justify-content   space-between
      width             100%
  .button-bar.mode-edit
    .mode.delete-ask
      display           none
  .button-bar.mode-delete-ask
    .mode.edit
      display           none
  .gap-l
    margin-left         1em
  .gap-t
    margin-top          1em
  .input-max
    input
      width             99%
  .input-xxlarge
    input
      width             530px

  hr
    border-top-color  #ddd
  textarea
    box-sizing        border-box
    width             100%

form.create
  .update
    display   none

form.update
  .create
    display   none
