include /lib/_form

form.form-horizontal.well
  legend
    span.create Signup
    span.update Edit
  fieldset
    span.authtype-password
      +field-text('handle', 'Username')
      +field-password('password', 'Password', 'Unchanged')
      +field-password('passconf', 'Confirm Password', 'Unchanged')
    +field-text('email', 'Email')
      span.help-inline (encrypted in database and never published)
    span.input-xxlarge
      +field-text('info', 'Homepage')
    +field-text('quota_daily', 'Daily Quota')
      .help-block
        | This is the maximum number of actors or connections you can add per day.
      .help-block.gap-t
        | It's initially set low so I can more easily identify and fix new issues as they arise.
        | It's not set in stone so please email me if you want it increased.
  +button-bar
