include /lib/_form

.openauth.well.hide
  legend OpenAuth Login
  a(href='api/auth/facebook')
    .glyph.fe.fe-2x.fe-facebook
    span Login with your Facebook account
  hr
  a(href='api/auth/github')
    .glyph.fe.fe-2x.fe-github
    span Login with your Github account
  hr
  a(href='api/auth/google')
    .glyph.fe.fe-2x.fe-gplus
    span Login with your Google account

form.form-horizontal.create.well
  legend Login
  fieldset
    +field-text('handle', 'Username')
    +field-password('password', 'Password')
  +button-bar

.please-wait.well.hide
  legend
    .glyph.fe.fe-2x.fe-cog.animate-spin
    // high cpu usage!
    span Logging in...
