mixin edge
  span.edge-title
    span.a_node
      +node-name(plain=attributes.plainNodeA)
    #{attributes.plainHow ? 'span' : 'a'}.how
    span.b_node
      +node-name(plain=attributes.plainNodeB)
    span.edge-when

mixin meta-compact
  small.meta
    span  - 
    span.act
    span.by
      span by 
      a.user
    abbr.date.timeago

mixin node-name
  #{attributes.plain ? 'span' : 'a'}.node-title
    span.person-glyph
    span.name
    span.node-when

mixin node-tags
  span.tags
    a.label.label-info.tag
