mixin meta-compact
  small.meta
    span  - 
    span.act
    span.by
      span by 
      a.user
    abbr.date.timeago

mixin node-name
  a.link
    span.person-glyph
    span.name

mixin node-tags
  span.tags
    a.label.label-info.tag
