mixin edge
  span.edge-title
    span.a-node
      +node-name(plain=attributes.plainNodeA)
    #{attributes.plainHow ? 'span' : 'a'}.how
    span.b-node
      +node-name(plain=attributes.plainNodeB)
    span.when-text

mixin meta-compact
  small.meta
    span  - 
    span.act
    span.by
      span by 
      a.user
    abbr.date.timeago

mixin node-name
  #{attributes.plain ? 'span' : 'a'}.link
    span.person-glyph
    span.name

mixin node-tags
  span.tags
    a.label.label-info.tag
