include ../lib/_form
include _mixin

form.form-horizontal
  legend
    a.btn.btn-edit.pull-right.signed-in Edit 
      .fe.fe-edit
    h2.edge-title
      span.a-node
        +node-name
      span.how
      span.b-node
        +node-name
      span.when-text
