include ../lib/_form

form.form-horizontal
  legend
    a.btn.btn-edit.pull-right.signed-in Edit 
      i.fa.fa-edit
    h2.edge-title
      a.a-node
      span.how
      a.b-node
      span.when-text
