include _mixin

ul.items.unstyled
  li.evidence.clearfix
    a(target='_blank').urlOuter
      i.glyph
      span.urlInner
    +meta-compact
    a.btn.btnEdit.pull-right.signed-in Edit 
      i.fa.fa-edit
