include ../lib/_form

form.form-horizontal.well
  fieldset
    span.input-max
      +field-text('url', 'Url', 'Enter the url of some good evidence!')
    +field-hidden('entity_id', 'EntityId')
  hr
  +button-bar
