include _mixin

ul.items.unstyled
  li.evidence.clearfix
    a(target='_blank').urlOuter
      i.glyph
      span.urlInner
    +meta-compact
    a.btn.btn-edit.pull-right.signed-in Edit 
      i.fa.fa-edit
    .video
      iframe(width='560', height='315', frameborder='0', allowfullscreen).youtube
