include _mixin

ul.items.unstyled
  li.evidence.clearfix
    a(target='_blank').url-outer
      .glyph
      span.url-inner
    +meta-compact
    a.btn.btn-edit.pull-right.signed-in Edit 
      .fe.fe-edit
    .video
      iframe(width='560', height='315', frameborder='0', allowfullscreen).youtube

.no-items
  .alert Add some evidence!
