.navbar-fixed-bottom
  min-width 800px // prevent wrapping
  li
    margin-left 10px
  ul.social
    .title
      white-space   nowrap
      margin-right  0.5em
  img
  .fe:before
    margin-right  0.5em
