.navbar.navbar-fixed-bottom.bg-transparent.seo-remove
  #fb-root
  ul.nav.social
    li.twitter
      a.twitter-share-button(
        data-url="http://www.whodotheyserve.com"
        href    ='https://twitter.com/share') Tweet
    li.fb
      .fb-like(
        data-action    ="recommend",
        data-href      ="http://www.whodotheyserve.com",
        data-layout    ="button_count",
        data-send      ="false",
        data-share     ="false",
        data-show-faces="false",
        data-width     ="450")
  ul.nav.pull-right
    li.dropup
      a(href='#', data-toggle='dropdown').dropdown-toggle
        i.fa.fa-paint-brush
          small Switch theme
        b.caret
      ul.dropdown-menu.themes
        li(data-theme-id='dark')
          a Dark
        li(data-theme-id='light')
          a Light
    li
      a(href  ='https://github.com/dizzib/WhoDoTheyServe.com'
        target='_blank')
        i.fa.fa-github
          small Source code on Github
    li
      a(href='mailto:&#100;&#105;&#122;&#122;&#105;&#098;&#048;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;')
        i.fa.fa-envelope-o
          small Contact by email
