.navbar-fixed-bottom
  li
    margin-left 10px
  ul.social
    li
      margin-top  10px
    li
      iframe
        height      20px !important
    li.twitter
      iframe
        width       90px !important
