.navbar-fixed-bottom
  min-width 800px // prevent wrapping
  li
    margin-left 10px

  ul.social > li
    > a
      margin        10px 0 10px 0
      padding       0 10px 0 10px
      text-shadow   none

    > a.facebook
      background    #3B5998
      border        #354c8c solid 1px
      color         #fff
      .text
        text-shadow   0 -1px 0 #354c8c
      &:hover
        background    #4c69ba
    > a.gplus
      background    #d34836
      border        #ddd solid 1px
      color         #fff
      &:hover
        background    #d04533
    > a.twitter
      background    #eee
      border        #ccc solid 1px
      color         #4099FF
      .text
        color         #333
        text-shadow   0 1px 0 rgba(255, 255, 255, 0.5)
      &:hover
        background    #dfdfdf
    > a
      cursor        pointer
      height        18px
      .text
        font-weight   bold

  .fa:before
    margin-right  0.5em
