include _mixin

.latest
  legend Latest Updates
  ul.items.unstyled
    li.item
      span.entity
        span.sel-edge.edge-title
          a.aNode
          a.how
          a.bNode
          span.period
        span.sel-evidence
          a.glyph
            i.fa.fa-video-camera
          a(target='_blank').url
        span.sel-map
          a.link
            i.glyph.fa.fa-share-alt
            span.name
        span.sel-node
          a.name
        span.sel-note
          a
            i.glyph.fa.fa-comment
          span.text
      +meta
