include _mixin

.latest
  legend Latest Updates
  ul.items.unstyled
    li.item
      span.entity
        span.sel-edge
          +edge
        span.sel-evidence
          a.glyph.fe.fe-videocam
          a(target='_blank').url
        span.sel-map
          a.map-link
            .glyph.fe.fe-share
            span.name
        span.sel-node
          +node-name
          +node-tags
        span.sel-note
          a(title='note').glyph.fe.fe-comment
          span.note
      +meta-compact
