include _mixin

.latest
  legend Latest Updates
  ul.items.unstyled
    li.item
      span.entity
        span.sel-edge.edge-title
          a.a-node
          a.how
          a.b-node
          span.when-text
        span.sel-evidence
          a
            i.glyph.fa.fa-video-camera
          a(target='_blank').url
        span.sel-map
          a.link
            i.glyph.fa.fa-share-alt
            span.name
        span.sel-node
          a.name
        span.sel-note
          a
            i.glyph.fa.fa-comment
          span.note
      +meta-compact
