include _mixin

.latest
  legend Latest Updates
  ul.items.unstyled
    li.item
      span.entity
        span.edge.edge-title
          a.aNode
          a.how
          a.bNode
          span.period
        span.evidence
          a.glyph
            i.fa.fa-video-camera
          a(target='_blank').url
        span.node
          a.name
        span.note
          a.glyph
            i.fa.fa-comment
          span.text
      +meta
