include _mixin

.latest
  legend Latest Updates
  ul.items.unstyled
    li.item
      span.entity
        span.sel-edge.edge-title
          a.a-node
          a.how
          a.b-node
          span.when-text
        span.sel-evidence
          a.glyph.fe.fe-videocam
          a(target='_blank').url
        span.sel-map
          a.link
            .glyph.fe.fe-share
            span.name
        span.sel-node
          span.is-person
          a.name
          +tags
        span.sel-note
          a(title='note').glyph.fe.fe-comment
          span.note
      +meta-compact
