.view.editing
  svg
    border      dashed 4px grey

.map-info
  left        0
  top         100px
  margin      10px
  position    fixed
  z-index     1

.map-meta
  left        0
  bottom      40px
  position    fixed
  z-index     1
