.view.editing
  svg
    border      dashed 4px grey

.tool
  .info
    left        0
    top         40px
    margin      10px
    position    fixed
    z-index     1

  .meta
    left        0
    bottom      40px
    position    fixed
    z-index     1
