.graph
.meta
.tools
  .tool.edit.signed-in
  .tool.find.bg-transparent.collapsed
  .tool.info.hide.bg-transparent(data-state-key='map/tool/info')
  .tool.layers.hide.bg-transparent(data-state-key='map/tool/layers')
