small.meta
  .update
    span Edited
    span.update-by
      span by 
      a.update-user
    abbr.update-date.timeago
  .create
    span Added
    span.create-by
      span by 
      a.create-user
    abbr.create-date.timeago
