.navbar-fixed-top
  .nav
    min-width       800px
    .fa:before
      margin-right  0.5em
    >.map.hot
      .shortname
        display       none
    >.map:not(.hot)
      .name
        display       none
    >.map:not([data-key])
      display       none
    .maps
      .fa:before
        margin-left   0.5em
