mixin map
  a.link.fe.fe-share
    span.name
    span.shortname

ul.nav.nav-tabs
  li(active='^about')
    a(href='#/about').fe.fe-info-circled About
  li(active='^node')
    a(href='#/nodes').fe.fe-male Actors
  li.seo-remove.signed-in
    a(href='#/node/new').fe.fe-plus
  li(active='^edge').hide-on-tablet
    a(href='#/edges').fe.fe-link Connections
  li.seo-remove.signed-in
    a(href='#/edge/new').fe.fe-plus
  li.seo-remove.dropdown
    a(href='#', data-toggle='dropdown').dropdown-toggle.fe.fe-menu Maps
      b.caret
    ul.dropdown-menu.maps
      li.map
        a.link
          i.edit-indicator
    ul.hide
      li.map-new.signed-in.divider
      li.map-new.signed-in
        a(href='#/map/new').fe.fe-plus Create new
          i.edit-indicator
  li.seo-remove.map.hot: +map
  li.seo-remove.map: +map
  li(active='^user/signin').hide-on-tablet.seo-remove.pull-right.signed-out
    a(href='#/user/signin').fe.fe-login Login
  li(active='^user/signout').seo-remove.pull-right.signed-in
    a(href='#/user/signout').fe.fe-logout Logout
  li(active='^sys').seo-remove.pull-right.signed-in-admin
    a(href='#/sys').fe.fe-wrench Sys
  li(active='^user(/edit|$)').seo-remove.pull-right.signed-in
    a(href='#/user').fe.fe-user Account
  li(active='^user/signup').seo-remove.pull-right.signed-in-admin
    a(href='#/user/signup').fe.fe-user Signup
  li(active='^user(s|/[0-9a-f]+)$').seo-remove.pull-right.hide
    a(href='#/users').fe.fe-pencil Contributors
  li(active='^latest').pull-right
    a(href='#/latest').fe.fe-history Latest
