mixin map
  a.link
    i.fe.fe-share-alt
      span.name
      span.shortname

ul.nav.nav-tabs
  li(active='^doc/about')
    a(href='#/doc/about')
      i.fe.fe-info-circle About
  li(active='^node')
    a(href='#/nodes')
      i.fe.fe-male Actors
  li.seo-remove.signed-in
    a(href='#/node/new')
      i.fe.fe-plus
  li(active='^edge').hide-on-tablet
    a(href='#/edges')
      i.fe.fe-chain Connections
  li.seo-remove.signed-in
    a(href='#/edge/new')
      i.fe.fe-plus
  li.seo-remove.dropdown
    a(href='#', data-toggle='dropdown').dropdown-toggle
      i.fe.fe-list Maps
      b.caret
    ul.dropdown-menu.maps
      li.map
        a.link
          i.edit-indicator
    ul.hide
      li.map-new.signed-in.divider
      li.map-new.signed-in
        a(href='#/map/new')
          i.fe.fe-plus Create new
          i.edit-indicator
  li.map.hot: +map
  li.map: +map
  li(active='^user/signin').hide-on-tablet.seo-remove.pull-right.signed-out
    a(href='#/user/signin')
      i.fe.fe-sign-in Login
  li(active='^user/signout').seo-remove.pull-right.signed-in
    a(href='#/user/signout')
      i.fe.fe-sign-out Logout
  li(active='^sys').seo-remove.pull-right.signed-in-admin
    a(href='#/sys')
      i.fe.fe-wrench Sys
  li(active='^user(/edit|$)').seo-remove.pull-right.signed-in
    a(href='#/user')
      i.fe.fe-user Account
  li(active='^user/signup').seo-remove.pull-right.signed-in-admin
    a(href='#/user/signup')
      i.fe.fe-user Signup
  li(active='^user(s|/[0-9a-f]+)$').seo-remove.pull-right.hide
    a(href='#/users')
      i.fe.fe-pencil Contributors
  li(active='^latest').pull-right
    a(href='#/latest')
      i.fe.fe-history Latest
