ul.nav.nav-tabs
  li(active='^doc/about')
    a(href='#/doc/about')
      i(class='fa fa-info-circle') About
  li(active='^node')
    a(href='#/nodes')
      i(class='fa fa-male') Actors
  li(active='^edge')
    a(href='#/edges')
      i(class='fa fa-chain') Connections
  li(active='^$|^graph').seo-remove
    a(href='#/graph')
      i(class='fa fa-share-alt') Graph
  li(active='^user/signin').seo-remove.pull-right.signed-out
    a(href='#/user/signin')
      i(class='fa fa-sign-in') Login
  li(active='^user/signout').seo-remove.pull-right.signed-in
    a(href='#/user/signout')
      i(class='fa fa-sign-out') Logout
  li(active='^user(/edit|$)').seo-remove.pull-right.signed-in
    a(href='#/user')
      i(class='fa fa-user') Account 
  li(active='^user/signup').seo-remove.pull-right.signed-in-admin
    a(href='#/user/signup') Signup
  li(active='^user(s|/[0-9a-f]+)$').seo-remove.pull-right.signed-in
    a(href='#/users') Contributors
  li(active='^home').pull-right
    a(href='#/home')
      i(class='fa fa-history') Latest
