include _mixin

legend
  a.btn.btn-edit.pull-right.signed-in Edit 
    i.fe.fe-edit
  h2.node-title
    span.person-glyph
    span.name
    span.node-when
  .old_names.hide
    span.old_name
  +node-tags
