include ../lib/_form

form.form-horizontal.well
  legend
    span.create Create Actor
    span.update Edit Actor
  .alert.alert-info
    | This actor 
    span.create will be
    span.update is
    |  publicly shared and viewable by anyone.
    | It may be used by other users' connections and maps.
  fieldset
    span.input-xxlarge
      +field-text('name', 'Name', 'Enter name')
    .help-block.v-gap
      | As you enter the name, a list of matches will appear so
      | you can check it doesn't already exist.
      | To help keep things consistent, please stick to the following naming guidelines:
    .help-block.v-gap
      li
        | A person's name should take the form LastName, FirstName e.g. 
        strong Jefferson, Thomas 
        | rather than 
        strong Thomas Jefferson
      li
        | An organisation should begin without the indefinite article e.g. 
        strong Bank of England 
        | rather than 
        strong The Bank of England
    .help-block.v-gap
      | You'll need to provide supporting evidence of this actor's existence
      | in reality, so it should be definite and tangible. Please refrain from adding
      | names like 'Illuminati' or 'New world order' which are too vague and nebulous.
    +button-bar
