include ../lib/_form

form.form-horizontal.well
  legend
    span.create Create Actor
    span.update Edit Actor
  fieldset
    span.input-xxlarge
      +field-text('name', 'Name', 'Enter name')
    span.help-block
      | A person's name should take the form LastName, FirstName e.g. 
      strong Jefferson, Thomas 
      | rather than 
      strong Thomas Jefferson
      | .
    span.help-block
      | An organisation should begin without indefinite article e.g. 
      strong Bank of England 
      | rather than 
      strong The Bank of England
      | .
    hr
    +button-bar
