include ../lib/_form

form.well
  fieldset
    +field-textarea('text', 'Enter your note below')
    span.help-block
      | You can edit it as many times as you like or delete it at any time!
    +field-hidden('entity_id', 'EntityId')
    hr
    +button-bar
