include ../lib/_form

form.form-horizontal.create.well
  legend Login
  fieldset
    +field-text('login', 'Username')
    +field-password('password', 'Password')
  hr
  button(type='button').btn.cancel Back 
    i.fa.fa-arrow-left
  button(type='submit').btn.btn-primary.pull-right Login 
    i.fa.fa-sign-in
