include ../lib/_form

.well
  legend OpenAuth Login
  a(href='api/auth/facebook')
    i.glyph.fa.fa-2x.fa-facebook
    span Login using your Facebook account
  hr
  a(href='api/auth/github')
    i.glyph.fa.fa-2x.fa-github
    span Login using your Github account
  hr
  a(href='api/auth/google')
    i.glyph.fa.fa-2x.fa-google-plus
    span Login using your Google account

form.form-horizontal.create.well
  legend Standard Login
  fieldset
    +field-text('handle', 'Username')
    +field-password('password', 'Password')
  hr
  button(type='button').btn.cancel Back 
    i.fa.fa-arrow-left
  button(type='submit').btn.btn-primary.pull-right Login 
    i.fa.fa-sign-in
