div
  a.btn.btnEdit.pull-right Edit 
    i.fa.fa-edit
  h2
    .name
  a.info

.signed-in
  legend.section Actions
  .row
    .well.span4
      i.glyph.fa.fa-male.fa-2x.pull-left
      .help-block
        | An actor is some entity that does real world stuff,
        | typically a person or organisation.
      a(href='#/node/new').btn.btn-primary.pull-right Create new Actor...
    .well.span4
      i.glyph.fa.fa-chain.fa-2x.pull-left
      .help-block
        | A connection links two actors together,
        | typically where one actor has direct influence over another.
      a(href='#/edge/new').btn.btn-primary.pull-right Create new Connection...
    .well.span4
      i.glyph.fa.fa-share-alt.fa-2x.pull-left
      .help-block
        | A map is a diagram showing a specific set of actors and their connections.
      a(href='#/map/new').btn.btn-primary.pull-right Create new Map...

legend.section Contributions
