!!!
html
  meta(charset='utf-8')
  meta(name='description', content='WhoDoTheyServe.com is a non-profit opensource effort to track and visualise the rapidly changing global political, banking and corporate power structure.')
  meta(name='keywords', content='globalisation,corporate,banking,conflict of interest,new world order')
  head
    title WhoDoTheyServe.com
    style(type='text/css') /* seed css from bootstrap.css to prevent FoUC */
      body { font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
      h1 { font-size:38.5px; margin:10px 0; line-height:40px; }
      a { color:#08c; text-decoration:none; }
      .container { width:940px; margin-right:auto; margin-left:auto; }
      .seo-link { display:none; }
      .hide-during-boot { display:none; }
    script(type='text/javascript', src='/lib-3p/yepnope.1.5.4-min.js')
    script(type='text/javascript', src='lib-3p-loader.js')
  noscript
    meta(http-equiv='refresh', content='0;URL=home.html')
  body
    .navbar-fixed-top
      a.seo-link(href='home.html') SEO-site
      small.label.label-info.version.pull-right
      h1
        a(href='#/home') WhoDoTheyServe.com
      .navigator
    .view.hide-during-boot
      .alert.alert-error
      .main
      .graph
      .edges
      .nodes
      .evidences-head.section
      .evidence-edit
      .evidences
      .notes-head.section
      .note-edit
      .notes
      .node-edges-head.section
      .node-edges-a
      .node-edges-b
      .meta.section
    .footer
