mixin css(url)
  link(href='#{url}.css', rel='stylesheet', type='text/css')

mixin script(url)
  script(src='#{url}.js', type='text/javascript')

!!!
html
  meta(charset='utf-8')
  head
    title WhoDoTheyServe.com
    +css('boot')
    +script('/lib-3p/yepnope.1.5.4-min')
    +script('lib-3p-loader')
  body.container
    small.version.pull-right
    h1
      a(href='#/home') WhoDoTheyServe.com
    .navigator
    .view.show-after-boot
      .alert.alert-error
      .main
      .graph
      .edges
      .nodes
      .evidences-head.section
      .evidence-edit
      .evidences
      .notes-head.section
      .note-edit
      .notes
      .node-edges-head.section
      .node-edges-a
      .node-edges-b
      .meta.section
    br
    br
    .footer
