mixin css(url)
  link(href='#{url}.css', rel='stylesheet', type='text/css')

mixin script(url)
  script(src='#{url}.js', type='text/javascript')

!!!
html
  meta(charset='utf-8')
  head
    title WhoDoTheyServe.com
    +css('index')
    +css('/lib-3p/bootstrap/css/bootstrap.min')
  body.container
    small.version.pull-right
    h1
      a(href='') WhoDoTheyServe.com
    .remove-after-boot Loading...
    .navigator
    .view.show-after-boot
      .alert.alert-error
      .main
      .edge-edit
      .edges
      .node-edit
      .nodes
      .evidences-head.section
      .evidence-edit
      .evidences
      .notes-head.section
      .note-edit
      .notes
      .node-edges-head.section
      .node-edges-a
      .node-edges-b
      .meta.section
      .user-edit
      .user-signin
      .user-signup
    br
    br
    .footer

  +script('/lib-3p/underscore')
  +script('/lib-3p/jquery')
  +script('/lib-3p/backbone')
  +script('/lib-3p/jit.min')
  +script('lib')
  +script('app')
