#view
  a.btnEdit
  a.btnNew
    width         4em
  button
    margin-right  1em
  button.pull-right
    margin-left   1em
    margin-right  0
  i.cue
    margin-right  0.25em
  legend
    border-bottom none
    a.btn
      margin-top    10px
  li
    line-height   2em
  span.cues
    margin-left   0.25em
#view.editing
  a.btnEdit
  a.btnNew
    display       none
