.graph
  .badge-ac
    text
      fill    #00f
  .badge-bis
    text
      fill    #f00
  .badge-cfr
    text
      fill    #f0f
  .edge.ac
    stroke        #00f
    stroke-width  1px
  .edge.bis
    stroke        #f00
    stroke-width  1px
  .edge.cfr
    stroke        #f0f
    stroke-width  1px
