include ../../lib/_form

.toolbar
  +field-checkbox('chkBilAttend', 'Bilderberg attendee')
  +field-checkbox('chkBilSteer' , 'Bilderberg steering')
  +field-checkbox('chkBis', 'BIS')
  +field-checkbox('chkCfr', 'CFR')

  .admin.signed-in-admin
    button(type='button',id='btnSaveLayout').btn Save Layout
