.map
  .hull
    path
      opacity     0.15  // transparent so the tight filter is more opaque

  .gov
    path
      fill        green
      stroke      green

  .eu
  .un
    path
      fill        orange
      stroke      orange

  .trilat
    path
      fill        blue
      stroke      blue
