.map-edit
  left          0
  top           100px
  position      fixed
  z-index       2

  .btn.cancel
    visibility    hidden
  .input-xlarge
    input
      width         370px
  .ms-drop
  .well
    background-color  rgba(255, 255, 255, 0.75)

  .show-if-expanded
    display       inline
  .show-if-collapsed
    display       none
  .collapsed
    legend
      margin-bottom 0
    .show-if-expanded
      display       none
    .show-if-collapsed
      display       inline

  legend
    line-height   inherit

  fieldset
    .glyph
      margin-left   0.5em
