include ../../lib/_form

form.map.signed-in.form-horizontal.well.bg-transparent
  legend
    i.glyph.fa.fa-caret-right.show-if-collapsed
    i.glyph.fa.fa-caret-down.show-if-expanded
    span.create Create Map
    span.update Edit Map
  .body.show-if-expanded
    .alert.alert-error
    .alert.alert-success
    fieldset
      span.input-xlarge
        +field-text('name', 'Name', 'Enter a name for the map')
      +field-select('nodes', 'Actors')
        .help-block.gap-t Drag actors around the map to improve the layout.
        .help-block Click a pin
          i.glyph.fa.fa-thumb-tack
          to fix or free an actor's position.
      span.input-xlarge
        +field-textarea('description', 'Description')
      +field-text('when', 'When')
        .help-block.gap-t
          :markdown
            Optionally enter a date in format `dd/mm/yyyy`, `mm/yyyy` or `yyyy`.  
            Active connections on this date will have a solid line, otherwise dotted.  
            Leave blank to always use the current date.
      +field-checkbox('flags.private', 'Private')
      span.signed-in-admin
        +field-checkbox('is-default', 'Default')
    +button-bar
