.map-edit
  left          0
  top           100px
  position      fixed
  z-index       2

  .btn.cancel
    visibility    hidden
  .input-xlarge
    input
      width         370px
  .show-if-expanded
    display       inline
  .show-if-collapsed
    display       none
  .collapsed
    legend
      margin-bottom 0
    .show-if-expanded
      display       none
    .show-if-collapsed
      display       inline

  legend
    .fa
      color         orange
    line-height   inherit

  fieldset
    .control-label
      width         100px
    .controls
      margin-left   120px
    .glyph
      margin-left   0.5em
