.tool.edit
  left          0
  top           40px
  z-index       2

  legend
    .fa
      color         orange
  fieldset
    .btn.cancel
      visibility    hidden
    .control-label
      width         100px
    .controls
      margin-left   120px
    .glyph
      margin-left   0.5em
    .input-xlarge
      input
        width         370px

.tool.edit:not(.collapsed)
  height        80%   // scroll
  overflow-y    auto  // scroll
  overflow-x    hidden

  form
    padding-bottom  20px
