.map
  .badge-ac
    text
      fill    blue
  .badge-bis
    text
      fill    red
  .badge-cfr
    text
      fill    magenta
  .edge.ac
    stroke        blue
    stroke-width  1px
  .edge.bis
    stroke        red
    stroke-width  1px
  .edge.cfr
    stroke        magenta
    stroke-width  1px
