overlay(id, color)
  .badge-{id}
    text
      fill        color
  .edge.{id}
    stroke        color
    stroke-width  1px

.map
  overlay('ac' , blue)
  overlay('bis', red)
  overlay('cfr', magenta)
  overlay('g7' , green)
