@import 'nib'

.map
  .pin
    path // for debugging
      fill          none
      stroke-width  1
      stroke        #ccc
    text
      transform   translate(-7px, 7px)
  .pin.out
    text
      transform   translate(-7px, -7px) rotate(90deg)
