color(c)
  path
    fill    c
    stroke  c

.map
  .hull
    path
      opacity     0.15  // transparent so the intersection is more opaque
    pointer-events none // for correct cursor offsetX/Y in FF
  .gov
    color green
  .eu
  .un
    color orange
  .trilat
    color blue
