.map-toolbar
  position        fixed
  right           0
  top             80px

  .show-if-expanded
    display         inline

  legend
    padding         10px
    line-height     inherit // undo bootstrap
  fieldset
    padding         0 10px 0 10px

.map-toolbar.collapsed
  .show-if-expanded
    display         none

  legend
    margin          0
