.graph
  marker
    fill              #aaa
  .edge
    stroke            #aaa
    stroke-width      1.5px
  .edge.minor
    stroke-dasharray  5,5
    stroke-width      1px
  .edge.family
    stroke            #000
    stroke-width      1.5px
  .edge.you
    display           none
  .edge-glyphs
    text
      fill                #666
