.graph
  .node
    a
      fill          #08c
    a:hover
      fill          #058
    circle
      fill          #8ff
    rect
      fill          none
      stroke-width  1
      stroke        #ccc
  .node.you
    circle
      fill          #0f0
