include ../../lib/_form

.toolbar
  +field-checkbox('chkAc', 'Atlantic Council')
  +field-checkbox('chkBilAttend', 'Bilderberg attendee')
  +field-checkbox('chkBilSteer' , 'Bilderberg steering')
  +field-checkbox('chkBis', 'BIS')
  +field-checkbox('chkCfr', 'CFR')
