col0 = #2f2f2f // main background
col1 = #66dddd // link foreground
col2 = #c6c6c6 // text foreground
col3 = #00ff00 // safe-href fg
col4 = #00ffff // bare-href fg

bg()
  background-color  rgba(70, 70, 70, 0.85)

field()
  border            0
  background-color  col0
  color             col2

a
  color             col1
h1
  a
    color           orange

// darkstrap.css fixes
.caret
  border-top-color  white // dropdown caret contrast

// fields
input[type="text"]
textarea
  field()

.badge, .label
  text-shadow   1px 1px 0 rgba(0, 0, 0, 0.25) // improve styling

.bg-transparent
  bg()

.bootstrap-tagsinput
  field()
  input
    box-shadow  inherit

.ms-choice
.ms-drop
  field()

.dropdown-menu
  bg()
  border    0
  li
    a
      color       col1

.fe-attention
  color         yellow

.graph
  .badge-ac
    text
      fill        cyan
  .cursor
    fill        #fff
    stroke      #fff
  .edge.ac
    stroke      cyan
  .edge-glyphs text
    &.bare-href
      fill        col4
    &.safe-href
      fill        col3
  .node
    a
      fill        col1
    a:hover
      fill        #08c
    circle
      fill        #888
    .fe
      fill        #ddd

.view .glyph
  &.bare-href
    color         col4
  &.safe-href
    color         col3
