col0 = #2f2f2f // main background
col1 = #66dddd // link foreground
col2 = #c6c6c6 // text foreground
col3 = #00ff00 // live evidence foreground

bg-col()
  background-color  rgba(70, 70, 70, 0.85)

a
  color             col1
h1
  a
    color           orange

// darkstrap.css fixes
.caret
  border-top-color  white // dropdown caret contrast

// fields
input[type="text"]
textarea
.ms-choice
.ms-drop
  background-color  col0
  color             col2

.bg-transparent
  bg-col()

.dropdown-menu
  bg-col()
  border-color  rgba(255, 255, 255, 0.2)
  li
    a
      color       col1

.map
  .badge-ac
    text
      fill        cyan
  .cursor
    fill        #fff
    stroke      #fff
  .edge.ac
    stroke      cyan
  .edge.family
    stroke      #fff
  .edge-glyphs
    text.live
      fill        col3
  .node
    a
      fill        col1
    a:hover
      fill        #08c
    circle
      fill        #888
    .fa
      fill        #aaa

.view
  .glyph.live
    color         col3
