h1
  a
    color         orange

ul.social
  .fe-facebook-squared:before
    color         #3B5998
  .fe-gplus:before
    color         #d34836
  .fe-twitter:before
    color         #4099FF

.bg-transparent
.ms-drop
  background-color  rgba(250, 250, 250, 0.85)
