h1
  a
    color         orange

ul.social
  .fe-facebook-square
    color         #3B5998
  .fe-google-plus
    color         #d34836
  .fe-twitter
    color         #4099FF

.bg-transparent
.ms-drop
  background-color  rgba(250, 250, 250, 0.85)
