h1
  a
    color           orange

.bg-transparent
.ms-drop
  background-color  rgba(250, 250, 250, 0.85)

.logo
  background-image  url('/asset/logo.png')
  height            50px
  width             250px
