include ../../../lib/_form

form.signed-in.form-horizontal.bg-transparent
  legend
    .glyph.fe.fe-right-dir.show-if-collapsed
    .glyph.fe.fe-down-dir.show-if-expanded
    span.create Create Map
    span.update Edit Map
  .show-if-expanded
    .alert.alert-error
    .alert.alert-success
    fieldset
      span.input-xlarge
        +field-text('name', 'Name', 'Enter a name for the map')
      +field-select('nodes', 'Actors')
        .help-block.gap-t Drag actors around the map to improve the layout.
        .help-block Click a pin
          .glyph.fe.fe-pin
          to fix or free an actor's position.
      span.input-xlarge
        +field-textarea('description', 'Description')
      +field-text('when', 'When')
        .help-block.gap-t
          :markdown
            Optional date in format `dd/mm/yyyy`, `mm/yyyy` or `yyyy`.  
            Active connections on this date will have a solid line, otherwise dotted.  
            Leave blank to always use the current date.
      +field-checkbox('flags.private', 'Private (hide this map from public visitors)', 'Visibility')
      span.input-xlarge
        +field-text('node_default_rx', 'Default node')
          .help-block.gap-t
            | Optional regular expression determining a default node to select.
      span.signed-in-admin
        +field-label('default-id-0', 'Default tab')
          +checkbox('default-id-0', '1 (show this map on tab 1 when a visitor first hits the site)')
          +checkbox('default-id-1', '2')
    +button-bar
