include ../../../lib/_form

form.signed-in.form-horizontal.bg-transparent
  legend
    .glyph.fe.fe-right-dir.show-if-collapsed
    .glyph.fe.fe-down-dir.show-if-expanded
    span.create Create Map
    span.update Edit Map
  .show-if-expanded
    .alert.alert-error
    .alert.alert-success
    fieldset
      span.input-xlarge
        +field-text('name', 'Name', 'Enter a name for the map')
      +field-select('nodes', 'Actors')
        .help-block.gap-t Drag actors around the map to improve the layout.
        .help-block Click a pin
          .glyph.fe.fe-pin
          to fix or free an actor's position.
      span.input-xlarge
        +field-textarea('description', 'Description')
      +field-text('when', 'When')
        .help-block.gap-t
          :markdown
            Optionally enter a date in format `dd/mm/yyyy`, `mm/yyyy` or `yyyy`.  
            Active connections on this date will have a solid line, otherwise dotted.  
            Leave blank to always use the current date.
      +field-checkbox('flags.private', 'Private (hide this map from public visitors)')
      span.signed-in-admin
        +field-checkbox('is-default', 'Default (show this map when a visitor first hits the site)')
    +button-bar
