include ../../../lib/_form

mixin layer(id, text)
  .layer
    +field-checkbox(id, text)

legend
  .glyph.fe.fe-list-bullet
  .show-if-expanded Layers
fieldset.show-if-expanded
  .group
    +layer('chkAc', 'Atlantic Council')
    +layer('chkBilAttend', 'Bilderberg attendee')
    +layer('chkBilSteer' , 'Bilderberg steering')
    +layer('chkBis', 'BIS')
    +layer('chkCfr', 'CFR')
  hr
  .group
    +layer('chkOutOfDate', 'All out-of-date')
