mixin header
  .navbar-fixed-top.bg-transparent
    .clearfix
      a.seo-link(href='latest.html') SEO-site
      .view-version.pull-right
      h1.pull-left
        a(href='') WhoDoTheyServe.com
      .logo.pull-left
    .navigator
