mixin header
  .navbar-fixed-top
    .clearfix
      a.seo-link(href='home.html') SEO-site
      small.label.label-info.version.pull-right
      h1.pull-left
        a(href='') WhoDoTheyServe.com
      img(src='/asset/logo.png')
    .navigator
