// SAVE INDEX.PUG FOR CHANGES TO BE INCLUDED!!!

body
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  position      relative  // required for splash z-index to work
  height        100%      // attempt to stop splash moving around during load
  width         100%
body.signed-in
  .signed-out
    display       none
body:not(.signed-in)
  .signed-in
    display       none
body:not(.signed-in-admin)
  .signed-in-admin
    display       none

.splash
  position      fixed
  top           0
  left          0
  height        50%
  width         100%
  z-index       -999
  display       flex
  align-items   center
  justify-content center
  animation     4s splash
  font-size     50px
  opacity       0

@keyframes splash
  from
    opacity     1
  to
    opacity     0

a
  color           #08c
  text-decoration none

.hide-during-boot
  display       none

.pull-left
  float         left

.seo-link
  display       none

.spinner
  position      fixed
  top           50%
  left          50%
  margin-right  -50%
  transform     translate(-50%, -50%)
  z-index       999

@media screen and (max-width: 980px)
  .hide-on-tablet // must still be clickable for testing
    position      absolute
    left          9999px
    top           9999px
