doctype html
html
  meta(charset='utf-8')
  meta(name='description', content='WhoDoTheyServe.com is a non-profit opensource effort to track and visualise the rapidly changing global political, banking and corporate power structure.')
  meta(name='keywords', content='globalisation,corporate,banking,conflict of interest,new world order')
  meta(name="viewport" content="width=device-width")
  head
    title WhoDoTheyServe.com
    // seed css from bootstrap.css to prevent FoUC
    style: include:stylus index.styl
    script: include:uglify-js lib-3p/yepnope.js
    script: include:livescript loader.ls
    link(rel='stylesheet', href='app.css')
  noscript
    meta(http-equiv='refresh', content='0;URL=latest.html')
  body
    h1.splash WhoDoTheyServe.com
    .spinner
      .lv-spinner
        div Busy...
    .navbar-fixed-top.bg-transparent
      a.seo-link(href='latest.html') SEO-site
      a(href='https://github.com/dizzib/WhoDoTheyServe.com/releases').view-version.pull-right
      .navigator
    .footer
    .view.hide-during-boot
      .alert.alert-error
      .alert.alert-info
      .main
      .maps-list
      .edges
      .nodes
      .evidences-head.section
      .evidence-edit
      .evidences
      .notes-head.section
      .note-edit
      .notes
      .node-edges-head.section
      .node-edges-a
      .node-edges-b
      .users
      .meta.section
    .view.maps.hide-during-boot.seo-remove
      .map.persist.template
