.view
  margin        8em 2em 4em 2em

  a.btnEdit
  a.btnNew
    width         4em
  button
    margin-right  1em
  button.pull-right
    margin-left   1em
    margin-right  0
  legend
    border-bottom none
    a.btn
      margin-top    10px
  li
    line-height   2em

  span.glyphs
    margin-left   0.25em

  .fa:before
    margin-left  0.25em

  .edge-title
    a
      margin-right  0.3em

  .section
    border-top    1px solid #ddd
    margin-top    40px

.view.editing
  a.btnEdit
  a.btnNew
    display       none
