.view
  margin        50px 2em 4em 2em

  a.btn-edit
  a.btn-new
    width         4em
  a.btn
  button
    .fe
      margin-left   0.5em
  button
    margin-right  1em
  button.pull-right
    margin-left   1em
    margin-right  0
  legend
    border-bottom none
    a.btn
      margin-top    10px
  li
    line-height   2em

  .edge-title
    .a-node
    .b-node
    .how
      margin-right  0.3em

  .fe-attention
    color         yellow

  .glyph
    margin-right  0.5em
  .glyph.dead
    color         red
  .glyph.live
    color         #0a0
  .glyphs
    margin-left   0.5em

  .section
    border-top    1px solid #ddd
    margin-top    40px

  .name + .tags
  .tag + .tag
    margin-left  0.5em

.view.editing
  a.btn-edit
  a.btn-new
    display       none
