.view
  margin        50px 2em 4em 2em

  a.btn-edit
  a.btn-new
    width         4em
  a.btn
  button
    .fe
      margin-left   0.5em
  button
    margin-right  1em
  button.pull-right
    margin-left   1em
    margin-right  0
  legend
    border-bottom none
    a.btn
      margin-top    10px
  li
    line-height   2em

  .edge-title
    .a-node
    .b-node
    .how
      margin-right  0.3em

  .fe-attention
    color         #dd0

  .glyph
    margin-right  0.5em
    &.href-archive
      color         #0aa
    &.href-live
      color         #0a0
  .glyphs
    margin-left   0.5em

  .node-title.dead
    text-decoration line-through // does not work on glyph
    .glyph
      opacity     0.5
  .node-when
    margin-left     0.3em
  .old_names .old_name
    margin-right    0.5em
    text-decoration line-through

  .section
    border-top    1px solid #ddd
    margin-top    40px

  .link + .tags
  .tag + .tag
    margin-left  0.5em

.view.editing
  a.btn-edit
  a.btn-new
    display       none
